<div class="black-background animated fadeIn" [ngClass]="_modalUploadService.hidden">
    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body text-center">

                    <img *ngIf="!tempFile" [src]="xxx | imagen" class="w150">
                    <img *ngIf="tempFile" [src]="tempFile" class="w150">

                    <input (change)="imageSelection( $event.target.files[0])" type="file">

                </div>
                <div class="modal-footer">
                    <button (click)="closeModal()" type="button" class="btn btn-secondary">Close</button>
                    <button (click)="uploadImage()" [disabled]="!tempFile" type="button" class="btn btn-primary">Upload image</button>
                </div>
            </div>
        </div>
    </div>
</div>